<form [formGroup]="addArticleForm">
  <label for="productName">Product Name:</label>
  <input formControlName="productName">
  <div>{{getError('productName')}}</div>
    <label>Product category:</label>
    <select formControlName="category">
      <option [value]="category.CLOTHESCOLLECTION">Clothing category</option>
      <option [value]="category.GAMINGACCESSORY">Gaming accessories</option>
      <option [value]="category.HOMEBASIC">Home basics</option>
    </select>
    <div>{{getError('category')}}</div>
    <label *ngIf="addArticleForm.controls['category'].value">Category:</label>
    <select *ngIf="addArticleForm.controls['category'].value === 'clothesCollection'" formControlName="product">
      <option [value]="clothesCollection.TSHIRT">T-shirt</option>
      <option [value]="clothesCollection.HOODIE">Hoodie</option>
      <option [value]="clothesCollection.PANTS">Pants</option>
      <option [value]="clothesCollection.SHOE">Shoe</option>
      <option [value]="clothesCollection.CAP">Cap</option>
      <option [value]="clothesCollection.WRISTWEAR">Wristwear</option>
    </select>
    <select *ngIf="addArticleForm.controls['category'].value === 'gamingAccessory'" formControlName="product">
      <option [value]="gamingAccessories.HEADSET">Headset</option>
      <option [value]="gamingAccessories.KEYBOARD">Keyboard</option>
      <option [value]="gamingAccessories.MOUSE">Mouse</option>
    </select>
    <select *ngIf="addArticleForm.controls['category'].value === 'homeBasic'" formControlName="product">
      <option [value]="homeBasics.CANDLE">Candle</option>
      <option [value]="homeBasics.LIGHT">Light</option>
      <option [value]="homeBasics.VASE">Vase</option>
    </select>
    <div>{{getError('product')}}</div>
    <label *ngIf="addArticleForm.controls['category'].value === 'clothesCollection'">Target audience:</label>
    <select *ngIf="addArticleForm.controls['category'].value === 'clothesCollection'" formControlName="targetAudience">
      <option [value]="targetAudience.Men">Men</option>
      <option [value]="targetAudience.WOMEN">Woman</option>
    <option [value]="targetAudience.CHILDREN">Children</option>
  </select>
  <div>{{getError('targetAudience')}}</div>
  <label>Price:</label>
  <input formControlName="price">
  <div>{{getError('price')}}</div>
  <label>Stock:</label>
  <input formControlName="stock">
  <div>{{getError('stock')}}</div>
  <label>Description:</label>
  <textarea formControlName="description"></textarea>
  <div>{{getError('description')}}</div>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="submitForm()">Submit</button>
</form>